a[highlight] {
	font-weight: bold;
}

.header {
	padding: 0 var(--lumo-space-m);
}

.header h1.logo {
	font-size: 1.3em;
	margin: var(--lumo-space-m);
}

.signature-block {
	align-items: center;
}

.signature-block-inner {
	width: 80%;
}

.sign-title, .verify-title {
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    align-items: center;
}

.sign-block, .verify-block {
	align-items: center;
}

.signature-output {
	font-size: 1.4em;
}

.signature-success {
	color: green;
}

.signature-fail {
	color: red;
}

.menu-container {
    font-size: 1.125em;
}

.create-key-title {
	font-size: 1.4em;
}